*{
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}
nav{
    border-radius : 5px;
    padding-right: 35px;
    border:10px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 30px 0 rgba(22, 32, 220, 0.37);
    backdrop-filter: blur(30px);
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    border : 
}
